# Terraform state
*.tfstate
*.tfstate.*
crash.log
*.tfplan
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI local config
.terraform/
.terraform.lock.hcl

# VS Code config (optional)
.vscode/